@import '../variables/Colors.scss';

@mixin button-style {
    border: 0;
    background: $var-green;
    cursor: pointer;
    width: 7rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 300ms;
    font-size: 1rem;
}

@mixin button-hover {
    box-shadow: inset 7rem 0 0 0 black;
    color: white;
}