.dashboard{
    &__root{
        margin-top: 7.56rem;
        background-color: rgb(228, 228, 228);
    }
    &__viewport{
        min-height: 51rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__profile-container{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding-top: 1.5rem;
        }

        &__accounts-container{
            padding: 1.5rem 0rem 1rem 0rem;
        }
    }
}

@media screen and (min-width: 900px) {
    .dashboard{
        &__root{
            display: flex;
        }
        &__viewport{
            width: calc(100% - 26rem - 1rem);
        }
    }
}