.history{
    &__root{
        margin-top: 7.56rem;
        padding: .1rem 1.5rem;
        height: 40rem;
        text-align: center;
        background-color: rgb(228, 228, 228);
    }

    &__logs-container{
        width: 100%;
        height: 15rem;
        &__log--head{
           width: 16.66%;
           margin-bottom: 5rem;
        }
    }
}