@import '../../variables/Colors.scss';
@import '../../mixins/button.scss';

.login{
    &__body{
        background-image: url('../../../assets/bank.jpg');
        background-position: center;
        background-size: cover;
        height: 50rem;
        margin-top: 7.56rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 600ms;
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    &__login-container{
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 25rem;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.55);
        //margin-left: 3rem;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(.6rem);

        &__image{
            width: 4rem;
            margin-bottom: 1rem;
        }

        &__title{
            margin: 0;
            font-size: 1.5rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;

        &__input{
            border: 0;
            border-bottom: 0.1rem solid black;
            outline: none;
            margin-top: 1.8rem;
            font-size: 1rem;
            width: 10rem;
            transform: scale(1);
            transition-duration: 300ms;
            text-align: center;
            background-color: rgba(0, 0, 0, 0);
            color: rgb(0, 0, 0);

            &:focus{
                transform: scale(1.1);
                transition-duration: 300ms;
                color: rgb(0, 0, 0);
            }
        }

        &__button{
            margin-top: 1.9rem;
            align-self: center;
            @include button-style;

            &:hover{
                @include button-hover;
            }
        }
    }

    &__signup-container{
        background: rgba(255, 255, 255, 0.7);
        padding: 5rem 4rem 5rem 9rem;
        width: 13rem;
        text-align: center;
        -webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.9);
        box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.9);
        //clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        //backdrop-filter: blur(.5rem);

        &--shape{
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        }

        &--shadow{
            filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.329));
            //backdrop-filter: blur(.5rem);
            //clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        }

        &__text {
            font-size: 1rem;
            padding-bottom: 2rem;
        }
    
        &__link {
            @include button-style;
            color: black;
            text-decoration: none;
            padding: .9rem 1.5rem;

            &:hover{
                @include button-hover;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .login{    
        &__body{
            height: 41.1rem;
            justify-content: flex-start;
            padding-left: 15%;
            transition-duration: 600ms;
        }
    }
}